<mat-card>
    <mat-card-title>
        Record Collection
    </mat-card-title>
    <div class="collection" *ngFor="let item of demo; let i=index">
        <div class="collection-item">
            <div (click)="editForms($event, item)">
                <span>{{item.record}}</span>
                <i class="float-right fa fa-pencil"></i>
            </div>
            <mat-card *ngIf="editState && itemToEdit.id == item.id">
                <mat-card-title>
                    Modify Record
                </mat-card-title>
                <form [formGroup]="myForm">
                    <mat-form-field class="col s12">
                        <input matInput placeholder="Record" formControlName="record" [(ngModel)]="item.record">
                    </mat-form-field>
                    <mat-form-field class="col s12">
                        <input matInput placeholder="Details" formControlName="details" [(ngModel)]="item.details">
                    </mat-form-field>
                    <mat-card>
                        <mat-card-subtitle>
                            Fields
                        </mat-card-subtitle>
                        <div formArrayName="fields">
                            <div *ngFor="let field of fieldForms.controls; let fieldI=index" [formGroupName]="fieldI">
                                <mat-form-field>
                                    <input matInput placeholder="Field 1" formControlName="field1">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Field 2" formControlName="field2">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Field 3" formControlName="field3">
                                </mat-form-field>
                                <button mat-raised-button color="warn" (click)="deleteFields(fieldI)">Delete</button>
                            </div>
                        </div>
                        <button mat-raised-button color="basic" (click)="addFields()">Add New Fields</button>
                    </mat-card>
                </form>
                <br>
                <button mat-raised-button color="primary" (click)="updateForms($event, item.id)">Update Form</button>
                <button mat-raised-button color="warn" class="float-right" (click)="deleteForms($event, item.id)">Delete Form</button>
            </mat-card>
        </div>
    </div>
</mat-card>